<div ng-controller="CategoriesCtrl" class="container">
    <div class="row">
        <h2 class="text-center">Gestión de Categorias</h2>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group-lg">
                <input type="text" class="form-control" style="width:100%; min-width:100%;" placeholder="Buscar categoria..." ng-model="searchCategory">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <hr />
    <div class="divider"></div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <label>
                                <input type="checkbox" id="selectAll" />
                            </label>
                        </th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in categories | limitTo: position | limitTo: -10 | filter : searchCategory">
                        <td>
                            <label>
                                <input type="checkbox" name="categoryCheck" value="{{category.CategoryID}}" />
                            </label>
                        </td>
                        <td>{{category.CategoryName}}</td>
                        <td>{{category.Description}}</td>
                        <td><a class="btn btn-info" href="#/Categorias/Detalle/{{category.CategoryID}}">Detalle</a></td>
                        <td><a class="btn btn-success" href="#/Categorias/Editar/{{category.CategoryID}}">Editar</a></td>
                        <td><a class="btn btn-danger" href="#/Categorias/Eliminar/{{category.CategoryID}}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row text-center">
            <div class="col-lg-12">
                <button class="btn btn-info" ng-click="previousCategories()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    Anterior
                </button>
                <span>{{position/10}} / {{categories.length/10 | roundUp}}</span>
                <button class="btn btn-info" ng-click="nextCateories()" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    Siguiente
                </button>
            </div>
            <label>{{categories.length}} categorias</label>

        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#selectAll').click(function (event) {  //on click
            if (this.checked) { // check select status
                $('input[type=checkbox]').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"
                });
            } else {
                $('input[type=checkbox]').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                });
            }
        });

    });
</script>
