<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://60bbb6cb-0ee0-4-231-b9ee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>60bbb6cb-0ee0-4-231-b9ee.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>60bbb6cb-0ee0-4-231-b9ee</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$60bbb6cb-0ee0-4-231-b9ee</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NWEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=DhamycNW.mssql.somee.com;Initial Catalog=DhamycNW;Persist Security Info=False;User ID=llvictorll_SQLLogin_1;Password=kfoogrfx4l;Packet Size=4096;Workstation ID=DhamycNW.mssql.somee.com" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UI.Models.NWEntities, UI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NWEntities-Web.config Connection String">
      <ParameterValue>Data Source=DhamycNW.mssql.somee.com;Initial Catalog=DhamycNW;Persist Security Info=False;User ID=llvictorll_SQLLogin_1;Password=kfoogrfx4l;Packet Size=4096;Workstation ID=DhamycNW.mssql.somee.com</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>